@model Mochileiros.Models.Travel

@{
    ViewData["Title"] = "Delete";
}

<div class="modal-header">
    <h2>Deletar</h2>
</div>
<div class="modal-body">

    <h4>
        Você tem certeza que deseja deletar essa viagem até @Html.DisplayFor(model => model.Destination)?<h4>
            <div class='d-flex flex-row'>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
                <button class='close btn btn-secondary mx-2'>Fechar</button>
            </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>