
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f5f5f5; 
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column; 
        position: relative; 
    }

    .container {
        background-color: #ffffff; 
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        width: 90%; 
        max-width: 400px; 
        margin-bottom: 50px; 
        animation: fadeInDown 1s ease; 
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333333; 
        font-size: 24px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        color: #333333; 
        font-size: 16px;
    }

    .form-group input, .form-group select {
        width: calc(100% - 10px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #cccccc; 
        margin-top: 5px;
        transition: border-color 0.3s ease;
    }

    .form-group input:focus, .form-group select:focus {
        border-color: #45CB0; 
    }

    .form-group input[type="button"] {
        width: 100%;
        background-color: #45CB0; 
        border: none;
        color: #ffffff; 
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 16px;
        padding: 12px;
        border-radius: 5px;
    }

    .form-group input[type="button"]:hover {
        background-color: #359f79; 
    }

    .form-group select {
        width: 100%;
        padding: 10px;
    }

    
    .form-group.name-fields {
        display: flex;
        justify-content: space-between;
    }

    .form-group.name-fields input {
        width: 48%;
    }

    
    .form-group.date-fields {
        display: flex;
        justify-content: space-between;
    }

    .form-group.date-fields select {
        width: 30%;
    }

    
    .title {
        position: absolute;
        top: 20px; 
        left: 20px; 
        font-size: 12px;
        color: #333333;
        display: flex;
        align-items: center;
        animation: fadeInLeft 1s ease; 
    }

    .title img {
        width: 125px; 
        height: auto; 
        margin-right: 10px;
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    
    .button-group {
        position: absolute;
        top: 20px; 
        right: 20px; 
        display: flex;
        animation: fadeInRight 1s ease; 
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .button-group button {
        margin-left: 10px;
        background-color: #45C4B0;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-group button:hover {
        background-color: #359f79;
    }

   
    .footer-bar {
        background-color: #45C4B0;
        color: #fff;
        padding: 10px 0; * 
        text-align: center; 
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: slideInUp 1s ease; 
    }

    .footer-bar a {
        color: #fff;
        text-decoration: none;
        margin-left: 200px; /
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

