@{
    ViewData["Title"] = "Mochileiros";
    Layout="~/Views/Shared/Newuser/_Layout.cshtml";
}


<div class="title">
    <img src="/mochila.png" alt="Mochileiros Logo">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mochileiros</h1>
</div>

<div class="button-group">
    <a href="Newuser"><button>Criar conta</button></a>
   
</div>

<div class="container">
   <a href="Newuser"> <h2>Criar Conta</h2></a>
  <form id="formLogin">
		<h1>Faça Login</h1>
		<input type="text" name="email" placeholder="Email" required /><br />

		<input type="password" name="password" placeholder="Senha" required /><br />
        
		<button type="submit">Entrar</button><br />

	</form>
</div>

<div class="footer-bar">
    <span>Mochileiros</span>
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Contact</a>
    </div>
</div>

<script>
    
    function populateDays() {
        var daySelect = document.getElementById("day");
       
        daySelect.innerHTML = "";
        
        for (var i = 1; i <= 31; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            daySelect.appendChild(option);
        }
    }

    
    function populateYears() {
        var yearSelect = document.getElementById("year");
       
        yearSelect.innerHTML = "";
       
        for (var i = 1940; i <= 2024; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            yearSelect.appendChild(option);
        }
    }
</script>