#travelDetails {
  overflow: hidden;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

#travelDetails .travelInfo {
  width: 30vw;
  min-height: 90vh;
}

#travelDetails .travelInfo .card-info-travel {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
#travelDetails .travelInfo .grupo {
  margin-top: 2rem;
}
#travelDetails .kanban {
  overflow-x: scroll;
  width: 65vw;
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  transform: rotateX(180deg);

  justify-content: space-around;
}

#travelDetails .kanban * {
  font-family: sans-serif;
}

#travelDetails .kanban__column {
  transform: rotateX(180deg);
  position: relative;

  min-width: 22rem;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 24px;
}

#travelDetails .kanban__item {
  cursor: move;
}

#travelDetails .kanban__column:not(:last-child) {
  margin-right: 30px;
}

#travelDetails .kanban__column-title {
  margin-bottom: 20px;
  font-size: 30px;
  user-select: none;

  position: absolute;
  top: 24px;
}

#travelDetails .kanban__item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
}

#travelDetails .kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

#travelDetails .kanban__dropzone--active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

#travelDetails .kanban__add-item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #0026ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
#travelDetails .kanban .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.dragging {
  opacity: 0.5;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
