@model Mochileiros.Models.Expense

@{
    ViewData["Title"] = "Create";
}

<div class="modal-header">
    <h2>Criar Item</h2>
    <button class="btn btn-sm pull-right btn-danger close" type="button" id="btnCloseModal" data-dismiss="modal">X</button>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descrição</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Valor</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Tipo</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div id="date" class="form-group">
            </div>
            <div id='travelId' class="form-group">
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
$(document).ready(function() {
    $('.close').click(function() {
        $('#editExpenseModal').modal('hide');
    });

    const date = sessionStorage.getItem("date");
    const travelID = sessionStorage.getItem("travelId");

    // Convert date from "dd/MM/YYYY" to "YYYY-MM-DD"
    const convertedDate = new Date(date.replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$3-$2-$1')).toISOString().substr(0, 10);

    $('#travelId').empty().html(`
        <select id="TravelID" name="TravelID" value="${travelID}" class="form-control d-none">
            <option>${travelID}</option>
        </select>
    `);

    $('#date').empty().html(`
        <input name="Date" type='date' id="Date" value="${convertedDate}" class="form-control d-none" />
    `);
});

</script>