@model Mochileiros.Models.Expense

@{
    ViewData["Title"] = "Edit";
}
<div class="modal-header">
    <h2>Editar</h2>
    <button class="btn btn-sm pull-right btn-danger close" type="button" id="btnCloseModal" data-dismiss="modal">X</button>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group my-4">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="Description" class="control-label">Descrição</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="Value" class="control-label">Valor</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="Type" class="control-label">Tipo</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group my-4 d-none">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group my-4 d-none">
                <label asp-for="TravelID" class="control-label"></label>
                <select asp-for="TravelID" class="form-control" asp-items="ViewBag.TravelID"></select>
                <span asp-validation-for="TravelID" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
$('.close').click(function() {
    $('#editExpenseModal').modal('hide');
});
</script>
