@model Mochileiros.Models.User

@{
    ViewData["Title"] = "Mochileiros";
    Layout="~/Views/Shared/Newuser/_Layout.cshtml";
}


<div class="title">
    <img src="/mochila.png" alt="Mochileiros Logo">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mochileiros</h1>
</div>

<div class="button-group">
    
   <a href="login"> <button>Login</button></a>
</div>

<div class="container">
   <form id="formRegister">
	<div style="width: 100%; display: flex; justify-content:center;"><img style="width: 120px; heigth:auto;" src="/mochila.png"  /></div>

	<div class="input-single">
		<label for="nome">Nome:</label>

		<input type="text" asp-for="Name" id="nome" name="name" required />
	</div>
	<br />

	<div class="input-single">
		<label for="email">Email:</label>
		<input asp-for="Email" type="email" id="email" name="email" required />
	</div>
	<br />

	<div class="input-single">
		<label for="senha">Senha:</label>
		<input asp-for="Password" type="password" id="senha" name="password" required />
	</div>
	<br />

	<div class="input-single">
		<label  for="confirmarSenha">Confirmar senha:</label>
		<input
			type="password"
			id="confirmarSenha"
			name="passwordConfirmation"
			required
		/>
	</div>
	<br />

	<button type="submit">Criar Conta</button>
	<br />

	<a href="/users/login" onclick="route()" id="conta">Já tenho Login</a>
</form>
</div>

<script>
    
    function populateDays() {
        var daySelect = document.getElementById("day");
       
        daySelect.innerHTML = "";
        
        for (var i = 1; i <= 31; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            daySelect.appendChild(option);
        }
    }

    
    function populateYears() {
        var yearSelect = document.getElementById("year");
       
        yearSelect.innerHTML = "";
       
        for (var i = 1940; i <= 2024; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            yearSelect.appendChild(option);
        }
    }
</script>


