@{
    ViewData["Title"] = "Mochileiros";
    Layout="~/Views/Shared/Newuser/_Layout.cshtml";
}


<div class="title">
    <img src="/mochila.png" alt="Mochileiros Logo">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mochileiros</h1>
</div>

<div class="button-group">
    <button>Criar conta</button>
    <button>Login</button>
</div>

<div class="container">
    <h2>Criar Conta</h2>
    <form>
        <div class="form-group name-fields">
            <input type="text" id="first_name" name="first_name" placeholder="Nome" required>
            <input type="text" id="last_name" name="last_name" placeholder="Sobrenome" required>
        </div>
        <div class="form-group">
            <label for="phone_or_email">Celular ou Email</label>
            <input type="text" id="phone_or_email" name="phone_or_email" placeholder="Celular ou Email" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Senha" required>
        </div>
        <div class="form-group">
            <label for="birth_date">Data de Nascimento</label>
            <div class="form-group date-fields">
                <select id="day" name="day" onclick="populateDays()">
                    <option value="">Dia</option>
                </select>
                <select id="month" name="month">
                    <option value="">Mês</option>
                    <option value="Janeiro">Janeiro</option>
                    <option value="Fevereiro">Fevereiro</option>
                    <option value="Março">Março</option>
                    <option value="Abril">Abril</option>
                    <option value="Maio">Maio</option>
                    <option value="Junho">Junho</option>
                    <option value="Julho">Julho</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Setembro">Setembro</option>
                    <option value="Outubro">Outubro</option>
                    <option value="Novembro">Novembro</option>
                    <option value="Dezembro">Dezembro</option>
                </select>
                <select id="year" name="year" onclick="populateYears()">
                    <option value="">Ano</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Cadastre-se">
        </div>
    </form>
</div>

<div class="footer-bar">
    <span>Mochileiros</span>
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Contact</a>
    </div>
</div>

<script>
    
    function populateDays() {
        var daySelect = document.getElementById("day");
       
        daySelect.innerHTML = "";
        
        for (var i = 1; i <= 31; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            daySelect.appendChild(option);
        }
    }

    
    function populateYears() {
        var yearSelect = document.getElementById("year");
       
        yearSelect.innerHTML = "";
       
        for (var i = 1940; i <= 2024; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            yearSelect.appendChild(option);
        }
    }
</script>


